# Project Configuration
PROJECT_NAME=e-commerce-backend

# Service Keys
DISCOVERY_SERVICE_KEY=discovery
GATEWAY_SERVICE_KEY=gateway
AUTH_SERVICE_KEY=auth
USER_SERVICE_KEY=user
FILE_SERVICE_KEY=file
MEDIA_SERVICE_KEY=media
PRODUCT_SERVICE_KEY=product
PRODUCT_GALLERY_SERVICE_KEY=product_gallery
LOGGING_KEY=logging

# Spring Configuration
SPRING_PROFILES_ACTIVE=prod

# Discovery Service Configuration
DISCOVERY_SERVICE_HOST_PORT=8761
DISCOVERY_SERVICE_DOCKER_PORT=8761

# Gateway Service Configuration
GATEWAY_SERVICE_HOST_PORT=8080
GATEWAY_SERVICE_DOCKER_PORT=8080

# Auth Service Configuration
AUTH_SERVICE_REDIS_HOST_PORT=6372
AUTH_SERVICE_REDIS_DOCKER_PORT=6379
AUTH_SERVICE_REDIS_PASS=1234
AUTH_SERVICE_HOST_PORT=9091
AUTH_SERVICE_DOCKER_PORT=9091

# User Service Configuration
USER_SERVICE_DB_HOST_PORT=6948
USER_SERVICE_DB_DOCKER_PORT=5432
USER_SERVICE_DB_USER=user
USER_SERVICE_DB_PASS=1234
USER_SERVICE_DB_NAME=UserDB
USER_SERVICE_HOST_PORT=9090
USER_SERVICE_DOCKER_PORT=9090

# File Service Configuration
FILE_SERVICE_DB_HOST_PORT=27017
FILE_SERVICE_DB_DOCKER_PORT=27017
FILE_SERVICE_DB_NAME=FileDB
FILE_SERVICE_HOST_PORT=9092
FILE_SERVICE_DOCKER_PORT=9092
FILE_SERVICE_GCP_BUCKET_NAME=YOUR_BUCKET_NAME

# Media Service Configuration
MEDIA_SERVICE_DB_HOST_PORT=6949
MEDIA_SERVICE_DB_DOCKER_PORT=5432
MEDIA_SERVICE_DB_USER=user
MEDIA_SERVICE_DB_PASS=1234
MEDIA_SERVICE_DB_NAME=MediaDB
MEDIA_SERVICE_HOST_PORT=9093
MEDIA_SERVICE_DOCKER_PORT=9093

# Product Service Configuration
PRODUCT_SERVICE_DB_HOST_PORT=6950
PRODUCT_SERVICE_DB_DOCKER_PORT=5432
PRODUCT_SERVICE_DB_USER=user
PRODUCT_SERVICE_DB_PASS=1234
PRODUCT_SERVICE_DB_NAME=ProductDB
PRODUCT_SERVICE_HOST_PORT=9094
PRODUCT_SERVICE_DOCKER_PORT=9094

# Product Gallery Service Configuration
PRODUCT_GALLERY_SERVICE_DB_HOST_PORT=6951
PRODUCT_GALLERY_SERVICE_DB_DOCKER_PORT=5432
PRODUCT_GALLERY_SERVICE_DB_USER=user
PRODUCT_GALLERY_SERVICE_DB_PASS=1234
PRODUCT_GALLERY_SERVICE_DB_NAME=ProductGalleryDB
PRODUCT_GALLERY_SERVICE_HOST_PORT=9095
PRODUCT_GALLERY_SERVICE_DOCKER_PORT=9095

# Elasticsearch Configuration
ELASTICSEARCH_VERSION=8.8.0
PRODUCT_ELASTICSEARCH_HOST_PORT=9200
PRODUCT_ELASTICSEARCH_TRANSPORT_PORT=9300

# Kibana Configuration
KIBANA_VERSION=8.8.0
PRODUCT_KIBANA_HOST_PORT=5601

# Logging Elasticsearch Configuration
LOGGING_ELASTICSEARCH_HOST_PORT=9201
LOGGING_ELASTICSEARCH_TRANSPORT_PORT=9301

# Logging Kibana Configuration
LOGGING_KIBANA_HOST_PORT=5602

# Logstash Configuration
LOGSTASH_VERSION=8.8.0
LOGSTASH_HOST_PORT=5000

# Zipkin Configuration
ZIPKIN_VERSION=2.24
ZIPKIN_HOST_PORT=9411
ZIPKIN_HOST=zipkin
ZIPKIN_PORT=9411

# Kafka Configuration
KAFKA_HOST_PORT=59092
KAFKA_DOCKER_PORT=59092
KAFKA_ZOOKEEPER_HOST_PORT=52181
KAFKA_ZOOKEEPER_DOCKER_PORT=2181